* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

}

.pages-box {
    width: 21cm;
    margin: auto;
    background: #e0e0e0;
}

.page-box {
    width: 21cm;
    /*height: 29.7cm;*/
    height: 59.7cm;
    border-width: 0px;
    display: block;
    padding: 0 2cm;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.page-box .page-header {
    width: 17cm;
    height: 2cm;
    display: block;
    padding: 0.2cm;
    text-align: center;
}

.page-box .page-footer {
    width: 17cm;
    height: 2cm;
    display: block;
    padding: 0.2cm;
    text-align: center;
}

.page-box input.line {
    border-width: 0px;
    border-bottom: 1px solid #000;
}

.page-box input.line:focus {
    outline: none;
}

.page-contents {
    width: 17cm;
    height: 25.7cm;
    position: absolute;
    border-width: 0px;
    display: block;
}

.ruler-inner {
    width: 17cm;
    height: 25.7cm;
    position: absolute;
    top: 2cm;
    border: 1px dotted #f00;
}

.ruler-outter {
    width: 21cm;
    height: 29.7cm;
    position: absolute;
    margin-top: -2cm;
    margin-left: -2cm;
    border: 1px dotted #f00;
}